
# Created by https://www.gitignore.io/api/xamarinstudio

### XamarinStudio ###
bin/
obj/
*.userprefs
.packages
*/packages/
.droidres
*.nupkg
.idea
*.DotSettings

# End of https://www.gitignore.io/api/xamarinstudio